# ?????????? ????????? ????? CMake
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json

# ?????????? ???????????????? ?????
*.exe
*.out
*.o
*.obj
*.dll
*.so
*.a
*.lib

# ?????????? ????? IDE
.vs/
.vscode/
.idea/

# ?????????? ???????? ??????????
out/
bin/
build/
